
@{
    Layout = null;
}

<a href="/Default/Index/">Index Page</a>
<a href="/Default/Products/">Product Page</a>

<h1>Customer Page</h1>
<h3>Sentence: @ViewBag.snt</h3>
<h3>Factorial: @ViewBag.fctp</h3>
<h3>Sentence: @ViewBag.sntp</h3>

