
@{
    Layout = null;
}

<a href="/Default/Products/">Product Page</a>
<a href="/Default/Customer/">Customer Page</a>

<h1>Hello World</h1>

<h1>----------------</h1>

<h1>Message List</h1>
<h2>@ViewBag.m1</h2>
<h2>@ViewBag.m2</h2>
<h2>@ViewBag.m3</h2>

